In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.webscraper.io/test-sites/e-commerce/allinone/phones/touch'

In [3]:
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.text, "lxml")

In [5]:
store = soup.find_all("h4", class_ = "price float-end card-title pull-right" )

In [6]:
print(len(store))

9

In [7]:
for i in store:
    print(i.text)

$24.99
$57.99
$93.99
$109.99
$118.99
$499.99
$899.99
$899.99
$899.99

In [8]:
import pandas as pd

In [9]:
l = []
for i in store:
    name = i.text
    l.append(name)

In [10]:
df = pd.DataFrame({"Price": l})

In [11]:
df

     Price
0   $24.99
1   $57.99
2   $93.99
3  $109.99
4  $118.99
5  $499.99
6  $899.99
7  $899.99
8  $899.99

In [12]:
url1 = 'https://www.flipkart.com/audio-video/headset/pr?sid=0pm%2Cfcn&p%5B%5D=facets.connectivity%255B%255D%3DBluetooth&sort=popularity&p%5B%5D=facets.rating%255B%255D%3D3%25E2%2598%2585%2B%2526%2Babove&p%5B%5D=facets.rating%255B%255D%3D4%25E2%2598%2585%2B%2526%2Babove&p%5B%5D=facets.price_range.from%3D599&p%5B%5D=facets.price_range.to%3DMax&p%5B%5D=facets.headphone_type%255B%255D%3DTrue%2BWireless&param=866&hpid=WqCPtE2MbDEYEbYbttXC1qp7_Hsxr70nj65vMAAFKlc%3D&ctx=eyJjYXJkQ29udGV4dCI6eyJhdHRyaWJ1dGVzIjp7InZhbHVlQ2FsbG91dCI6eyJtdWx0aVZhbHVlZEF0dHJpYnV0ZSI6eyJrZXkiOiJ2YWx1ZUNhbGxvdXQiLCJpbmZlcmVuY2VUeXBlIjoiVkFMVUVfQ0FMTE9VVCIsInZhbHVlcyI6WyJHcmFiIE5vdyJdLCJ2YWx1ZVR5cGUiOiJNVUxUSV9WQUxVRUQifX0sImhlcm9QaWQiOnsic2luZ2xlVmFsdWVBdHRyaWJ1dGUiOnsia2V5IjoiaGVyb1BpZCIsImluZmVyZW5jZVR5cGUiOiJQSUQiLCJ2YWx1ZSI6IkFDQ0ZTREdYWDNTNkRWQkciLCJ2YWx1ZVR5cGUiOiJTSU5HTEVfVkFMVUVEIn19LCJ0aXRsZSI6eyJtdWx0aVZhbHVlZEF0dHJpYnV0ZSI6eyJrZXkiOiJ0aXRsZSIsImluZmVyZW5jZVR5cGUiOiJUSVRMRSIsInZhbHVlcyI6WyJCZXN0IFRydWV3aXJlbGVzcyBIZWFkcGhvbmVzIl0sInZhbHVlVHlwZSI6Ik1VTFRJX1ZBTFVFRCJ9fX19fQ%3D%3D'

In [13]:
r = requests.get(url1)

In [14]:
soup = BeautifulSoup(r.text, "lxml")

In [15]:
ans = soup.find_all("div", class_ = "Nx9bqj")

In [16]:
print(len(ans))

40

In [17]:
l = []
for i in ans :
    s = i.text
    l.append(s)

In [18]:
df = pd.DataFrame({"Price of pods" : l})

In [19]:
df

   Price of pods
0           ₹999
1           ₹999
2        ₹10,990
3        ₹22,500
4         ₹1,799
5         ₹1,499
6         ₹1,999
7         ₹1,499
8         ₹1,199
9         ₹2,499
10        ₹1,499
11          ₹899
12        ₹2,499
13        ₹1,998
14        ₹1,998
15        ₹5,499
16          ₹898
17          ₹699
18        ₹1,799
19        ₹2,499
20        ₹1,099
21          ₹798
22        ₹2,999
23        ₹1,199
24        ₹1,499
25        ₹1,199
26          ₹899
27          ₹899
28        ₹2,299
29        ₹2,999
30        ₹1,499
31        ₹1,999
32          ₹799
33        ₹1,499
34        ₹1,999
35        ₹1,599
36        ₹1,099
37        ₹1,499
38        ₹3,299
39        ₹1,999

In [20]:
brand = soup.find_all("a", class_ = "wjcEIp")

In [21]:
print(len(brand))

40

In [22]:
l = []
for i in brand:
    s = i.text
    l.append(s)

In [23]:
Name = pd.DataFrame({"Name" : l})

In [24]:
Name

                                                 Name
0   HOPPUP Xo6 Gaming Earbuds with 35MS Low Latenc...
1   HOPPUP Xo6 Gaming Earbuds with 35MS Low Latenc...
2   Apple AirPods(2nd gen) with Charging Case Blue...
3   Apple AirPods Pro (2nd generation) with MagSaf...
4   OPPO Enco Buds 2 with 28 hours Battery life & ...
5   realme Buds T110 with AI ENC for calls, upto 3...
6   boAt Nirvana Ion with 120 Hours Playback & Cry...
7   Boult Astra with Quad Mic ENC, 48Hrs Battery, ...
8   boAt Airdopes 71 w/ 40 HRS Playback, ENx Techn...
9   CMF by Nothing Buds 42 dB Active Noise Cancell...
10  Boult Astra with Quad Mic ENC, 48Hrs Battery, ...
11  TRIGGR Kraken X1 with Battery Display, 40ms La...
12  CMF by Nothing Buds 42 dB Active Noise Cancell...
13  OnePlus Nord Buds 2r in Ear Earbuds with Dual ...
14  OnePlus Nord Buds 2r in Ear Earbuds with Dual ...
15  OnePlus Buds 3 TWS, in Ear Earbuds with Slidin...
16  HOPPUP Predator Xo3 Gaming Earbuds with 35MS L...
17  HOPPUP AirDoze S40 Earbuds with 13MM Drivers, ...
18  OPPO Enco Buds 2 with 28 hours Battery life & ...
19  boAt Nirvana Ion 32dB Active Noise Cancellatio...
20  Boult W20 with Zen ENC Mic, 35H Battery Life, ...
21  Mivi DuoPods i2 TWS,13mm Bass,45H Playtime,Dua...
22  OnePlus Nord Buds 2 Earbuds with 25dB Active N...
23  boAt Airdopes 71 w/ 40 HRS Playback, ENx Techn...
24  boAt Airdopes Supreme w/ 4 Mics AI ENx Tech, 5...
25  Boult Y1 Pro with Zen Quad Mic ENC, 60Hrs Batt...
26  truke BTG1 Earbuds with Game Mode, 48H Playtim...
27  Boult Airbass Z35 with ZEN ENC Mic, 32H Playti...
28  realme Buds T300 with 12.4mm Driver, 30dB ANC,...
29  CMF by Nothing Buds Pro with 45 dB ANC, Ultra ...
30  Boult Astra with Quad Mic ENC, 48Hrs Battery, ...
31  Mivi SuperPods Halo [Flagship Launch], ANC wit...
32  Mivi DuoPods D3 TWS,13mm Driver,Rich Bass,50H ...
33  boAt Airdopes Supreme w/ 4 Mics AI ENx Tech, 5...
34  boAt Nirvana Ion with 120 Hours Playback & Cry...
35  boAt Airdopes 161 ANC Elite w/ ANC, 50 HRS Pla...
36  Boult W20 with Zen ENC Mic, 35H Battery Life, ...
37  boAt Airdopes 131 Elite ANC w/ Active Noise Ca...
38  OnePlus Nord Buds 3 Pro Truly Wireless Earbuds...
39  OnePlus Nord Buds 2r True Wireless in Ear Earb...

In [25]:
Color_and_Type  = soup.find_all("div", class_ = "NqpwHC")

In [26]:
print(len(Color_and_Type))

40

In [27]:
l = []
for i in Color_and_Type:
    s = i.text
    l.append(s)

In [28]:
Color_and_Type = pd.DataFrame({"Color_and_Type" : l})

In [29]:
Color_and_Type

                     Color_and_Type
0                Red, True Wireless
1        Cobalt Blue, True Wireless
2              White, True Wireless
3              White, True Wireless
4           Midnight, True Wireless
5          Jazz Blue, True Wireless
6     Charcoal Black, True Wireless
7         White Opal, True Wireless
8       Active Black, True Wireless
9          Dark Grey, True Wireless
10       Black Gloss, True Wireless
11             Black, True Wireless
12        Light Grey, True Wireless
13        Misty Grey, True Wireless
14         Deep Grey, True Wireless
15  Metallic Gray IN, True Wireless
16             White, True Wireless
17              Blue, True Wireless
18        Lilac blue, True Wireless
19      Quartz white, True Wireless
20        Pine Green, True Wireless
21              Blue, True Wireless
22      Thunder Gray, True Wireless
23       Starry Blue, True Wireless
24       Sporty Blue, True Wireless
25       Powder Blue, True Wireless
26             Black, True Wireless
27    Graphite Black, True Wireless
28     Stylish Black, True Wireless
29         Dark Grey, True Wireless
30       Smoky Metal, True Wireless
31        Rose Black, True Wireless
32      Cobalt Black, True Wireless
33     Classic Black, True Wireless
34       Ivory White, True Wireless
35             Black, True Wireless
36      Glacier Blue, True Wireless
37             Black, True Wireless
38         Soft Jade, True Wireless
39       Triple Blue, True Wireless

In [30]:
Rating  = soup.find_all("div", class_ = "XQDdHH")

In [31]:
print(len(Rating))

40

In [56]:
l = []
for i in Rating :
    s = i.text;
    l.append(s)

In [57]:
r = pd.DataFrame({"Rating": l})

In [58]:
r

   Rating
0     3.9
1     3.9
2     4.5
3     4.6
4     4.3
5     4.2
6     4.1
7     4.1
8     3.8
9     4.2
10    4.1
11    4.1
12    4.2
13    4.3
14    4.3
15    4.5
16    3.9
17      4
18    4.3
19    4.1
20    4.1
21      4
22    4.3
23    3.8
24    4.1
25      4
26      4
27    3.9
28    4.3
29    4.1
30    4.1
31    4.6
32    3.9
33    4.1
34    4.1
35      4
36    4.1
37      4
38    4.4
39    4.3

In [35]:
Rated_By  = soup.find_all("span", class_ = "Wphh3N")

In [36]:
print(len(Rated_By))

40

In [37]:
l=[]
for i in Rated_By:
    s = i.text
    l.append(s)

In [42]:
Rated_by = pd.DataFrame({"Rated_By":l})

In [43]:
Rated_by

       Rated_By
0         (937)
1         (937)
2    (1,41,540)
3       (8,657)
4    (3,26,142)
5    (2,57,655)
6      (99,829)
7      (65,273)
8      (34,292)
9      (13,090)
10     (65,273)
11     (30,816)
12     (13,090)
13     (90,235)
14     (90,235)
15     (11,347)
16      (1,671)
17     (34,816)
18   (3,26,142)
19     (99,829)
20     (71,898)
21      (6,586)
22     (74,372)
23     (34,292)
24     (27,513)
25     (15,777)
26     (69,672)
27   (1,09,824)
28     (53,443)
29     (12,119)
30     (65,273)
31         (61)
32     (56,063)
33     (27,513)
34     (99,829)
35   (9,74,442)
36     (71,898)
37  (19,14,777)
38        (380)
39     (90,235)

In [61]:
Table = pd.concat([Name,df, Color_and_Type, r, Rated_by],axis = 1)

In [62]:
Table

,Name,Price of pods,Color_and_Type,Rating,Rated_By
0,HOPPUP Xo6 Gaming Earbuds with 35MS Low Latenc...,₹999,"Red, True Wireless",3.9,(937)
1,HOPPUP Xo6 Gaming Earbuds with 35MS Low Latenc...,₹999,"Cobalt Blue, True Wireless",3.9,(937)
2,Apple AirPods(2nd gen) with Charging Case Blue...,"₹10,990","White, True Wireless",4.5,"(1,41,540)"
3,Apple AirPods Pro (2nd generation) with MagSaf...,"₹22,500","White, True Wireless",4.6,"(8,657)"
4,OPPO Enco Buds 2 with 28 hours Battery life & ...,"₹1,799","Midnight, True Wireless",4.3,"(3,26,142)"
5,"realme Buds T110 with AI ENC for calls, upto 3...","₹1,499","Jazz Blue, True Wireless",4.2,"(2,57,655)"
6,boAt Nirvana Ion with 120 Hours Playback & Cry...,"₹1,999","Charcoal Black, True Wireless",4.1,"(99,829)"
7,"Boult Astra with Quad Mic ENC, 48Hrs Battery, ...","₹1,499","White Opal, True Wireless",4.1,"(65,273)"
8,"boAt Airdopes 71 w/ 40 HRS Playback, ENx Techn...","₹1,199","Active Black, True Wireless",3.8,"(34,292)"
9,CMF by Nothing Buds 42 dB Active Noise Cancell...,"₹2,499","Dark Grey, True Wireless",4.2,"(13,090)"
10,"Boult Astra with Quad Mic ENC, 48Hrs Battery, ...","₹1,499","Black Gloss, True Wireless",4.1,"(65,273)"
11,"TRIGGR Kraken X1 with Battery Display, 40ms La...",₹899,"Black, True Wireless",4.1,"(30,816)"
12,CMF by Nothing Buds 42 dB Active Noise Cancell...,"₹2,499","Light Grey, True Wireless",4.2,"(13,090)"
13,OnePlus Nord Buds 2r in Ear Earbuds with Dual ...,"₹1,998","Misty Grey, True Wireless",4.3,"(90,235)"
14,OnePlus Nord Buds 2r in Ear Earbuds with Dual ...,"₹1,998","Deep Grey, True Wireless",4.3,"(90,235)"
15,"OnePlus Buds 3 TWS, in Ear Earbuds with Slidin...","₹5,499","Metallic Gray IN, True Wireless",4.5,"(11,347)"
16,HOPPUP Predator Xo3 Gaming Earbuds with 35MS L...,₹898,"White, True Wireless",3.9,"(1,671)"
17,"HOPPUP AirDoze S40 Earbuds with 13MM Drivers, ...",₹699,"Blue, True Wireless",4,"(34,816)"
18,OPPO Enco Buds 2 with 28 hours Battery life & ...,"₹1,799","Lilac blue, True Wireless",4.3,"(3,26,142)"
19,boAt Nirvana Ion 32dB Active Noise Cancellatio...,"₹2,499","Quartz white, True Wireless",4.1,"(99,829)"
20,"Boult W20 with Zen ENC Mic, 35H Battery Life, ...","₹1,099","Pine Green, True Wireless",4.1,"(71,898)"
21,"Mivi DuoPods i2 TWS,13mm Bass,45H Playtime,Dua...",₹798,"Blue, True Wireless",4,"(6,586)"
22,OnePlus Nord Buds 2 Earbuds with 25dB Active N...,"₹2,999","Thunder Gray, True Wireless",4.3,"(74,372)"
23,"boAt Airdopes 71 w/ 40 HRS Playback, ENx Techn...","₹1,199","Starry Blue, True Wireless",3.8,"(34,292)"
24,"boAt Airdopes Supreme w/ 4 Mics AI ENx Tech, 5...","₹1,499","Sporty Blue, True Wireless",4.1,"(27,513)"
25,"Boult Y1 Pro with Zen Quad Mic ENC, 60Hrs Batt...","₹1,199","Powder Blue, True Wireless",4,"(15,777)"
26,"truke BTG1 Earbuds with Game Mode, 48H Playtim...",₹899,"Black, True Wireless",4,"(69,672)"
27,"Boult Airbass Z35 with ZEN ENC Mic, 32H Playti...",₹899,"Graphite Black, True Wireless",3.9,"(1,09,824)"
28,"realme Buds T300 with 12.4mm Driver, 30dB ANC,...","₹2,299","Stylish Black, True Wireless",4.3,"(53,443)"
29,"CMF by Nothing Buds Pro with 45 dB ANC, Ultra ...","₹2,999","Dark Grey, True Wireless",4.1,"(12,119)"
30,"Boult Astra with Quad Mic ENC, 48Hrs Battery, ...","₹1,499","Smoky Metal, True Wireless",4.1,"(65,273)"
31,"Mivi SuperPods Halo [Flagship Launch], ANC wit...","₹1,999","Rose Black, True Wireless",4.6,(61)
32,"Mivi DuoPods D3 TWS,13mm Driver,Rich Bass,50H ...",₹799,"Cobalt Black, True Wireless",3.9,"(56,063)"
33,"boAt Airdopes Supreme w/ 4 Mics AI ENx Tech, 5...","₹1,499","Classic Black, True Wireless",4.1,"(27,513)"
34,boAt Nirvana Ion with 120 Hours Playback & Cry...,"₹1,999","Ivory White, True Wireless",4.1,"(99,829)"
35,"boAt Airdopes 161 ANC Elite w/ ANC, 50 HRS Pla...","₹1,599","Black, True Wireless",4,"(9,74,442)"
36,"Boult W20 with Zen ENC Mic, 35H Battery Life, ...","₹1,099","Glacier Blue, True Wireless",4.1,"(71,898)"
37,boAt Airdopes 131 Elite ANC w/ Active Noise Ca...,"₹1,499","Black, True Wireless",4,"(19,14,777)"
38,OnePlus Nord Buds 3 Pro Truly Wireless Earbuds...,"₹3,299","Soft Jade, True Wireless",4.4,(380)
39,OnePlus Nord Buds 2r True Wireless in Ear Earb...,"₹1,999","Triple Blue, True Wireless",4.3,"(90,235)"

In [65]:
Table.to_csv('Scrapped_EarBuds_Data.csv')